<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TextCleaner.Properties.Settings>
            <setting name="IsWrapLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShouldTrim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldTrimLeadSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldTrimTrailSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldTrimMultipleSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldTrimMultipleLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldRemoveAllLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldFixPunctuaionSpace" serializeAs="String">
                <value>False</value>
            </setting>
        </TextCleaner.Properties.Settings>
    </userSettings>
</configuration>